@font-face {
  font-family: 'RotondaC';
  src: url("../fonts/Rotonda/RotondaC.eot");
  src: local("RotondaC"), url("../fonts/Rotonda/RotondaC.eot?#iefix") format("embedded-opentype"), url("../fonts/Rotonda/RotondaC.woff") format("woff"), url("../fonts/Rotonda/RotondaC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'RotondaC';
  src: url("../fonts/Rotonda/RotondaC-Bold.eot");
  src: local("RotondaC Bold"), local("RotondaC-Bold"), url("../fonts/Rotonda/RotondaC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rotonda/RotondaC-Bold.woff") format("woff"), url("../fonts/Rotonda/RotondaC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto; }

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 0.625rem 0; }
  .breadcrumb > li {
    color: #aaa;
    font-size: 0.75rem;
    line-height: 1.25rem;
    display: inline-block; }
    .breadcrumb > li:after {
      color: #516f90;
      content: '>>>';
      padding: 0 0.375rem; }
    .breadcrumb > li:last-child:after {
      display: none; }
    .breadcrumb > li > a {
      color: #516f90;
      text-decoration: none; }
      .breadcrumb > li > a:hover {
        text-decoration: none; }

.table-responsive {
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .table-responsive .table {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  @media (max-width: 767px) {
    .table-responsive {
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
      margin-bottom: 25px;
      border: 1px solid #ddd;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .table-responsive .table {
        margin-bottom: 0; } }

.table {
  width: 100%;
  background: #fff;
  margin-bottom: 2rem;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .table tr:nth-child(even) {
    background: #f8f8f8; }
  .table td,
  .table th {
    font-weight: 400;
    padding: 1rem 1.25rem; }
  .table th {
    color: #999;
    text-align: center; }
  .table td {
    color: #333; }

.table-responsive {
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .table-responsive .table {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  @media (max-width: 767px) {
    .table-responsive {
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
      margin-bottom: 25px;
      border: 1px solid #ddd;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .table-responsive .table {
        margin-bottom: 0; } }

.table {
  width: 100%;
  background: #fff;
  margin-bottom: 2rem;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .table tr:nth-child(even) {
    background: #f8f8f8; }
  .table td,
  .table th {
    font-weight: 400;
    padding: 1rem 1.25rem; }
  .table th {
    color: #999;
    text-align: center; }
  .table td {
    color: #333; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #666;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.4285; }

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 568px) {
    .container {
      width: 540px;
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 750px;
      max-width: 750px; } }
  @media (min-width: 1024px) {
    .container {
      width: 990px;
      max-width: 990px; } }
  @media (min-width: 1230px) {
    .container {
      width: 1200px;
      max-width: 1200px; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-family: "RotondaC", Arial, sans-serif;
  line-height: 1.2; }

h1, .h1 {
  color: #555;
  font-weight: 700;
  font-size: 1.5625rem;
  margin-bottom: 2rem;
  font-family: "RotondaC", Arial, sans-serif; }

h2, .h2 {
  color: #333;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-transform: uppercase; }

h3, .h3 {
  color: #333;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-family: "RotondaC", Arial, sans-serif; }

h4, .h4 {
  color: #000;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase; }

h5, .h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem; }

h6, .h6 {
  font-size: 0.75rem;
  margin-bottom: 0.75rem; }

p {
  margin: 0 0 1.25rem 0; }

a {
  outline: none;
  color: #516f90;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.footer {
  padding: 1.375rem 0;
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1.5em;
  border-top: 1px solid #ededed; }
  .footer__row {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__name {
    color: #999;
    padding: 0.125rem 0;
    display: inline-block;
    text-decoration: none; }
    .footer__name:hover {
      color: #1e1e1e;
      text-decoration: none; }
  .footer__address {
    color: #666;
    padding: 0.125rem 0;
    display: inline-block; }
    .footer__address strong {
      color: #000; }
  .footer__email {
    padding: 0.125rem 0;
    display: inline-block;
    text-decoration: underline; }
    .footer__email:hover {
      text-decoration: none; }
  .footer__tel {
    color: #000;
    font-weight: 700;
    padding: 0.125rem 0;
    display: inline-block;
    text-decoration: none; }
  .footer__dev {
    color: #999;
    padding-right: 2rem;
    line-height: 1.5rem;
    text-decoration: none;
    display: inline-block;
    background: url("../img/dev_logo.png") 100% 50% no-repeat; }
    .footer__dev:hover {
      color: #1e1e1e;
      text-decoration: none; }
  @media (min-width: 568px) {
    .footer__row {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .footer__row > li:nth-child(1) {
        width: 100%; }
      .footer__row > li:nth-child(2) {
        width: 100%; } }
  @media (min-width: 768px) {
    .footer__row > li:nth-child(1) {
      width: auto;
      display: none; }
    .footer__row > li:nth-child(2) {
      width: auto; }
    .footer__row > li:nth-child(3) {
      display: none; } }
  @media (min-width: 1024px) {
    .footer__row > li:nth-child(3) {
      display: block; } }
  @media (min-width: 1230px) {
    .footer__row > li:nth-child(1) {
      display: block; } }

body {
  position: relative; }
  body:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.layout {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (min-width: 768px) {
  .page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; } }

.nav-open {
  overflow: hidden;
  position: relative; }
  .nav-open:before {
    opacity: 1;
    visibility: visible; }
  .nav-open .layout {
    overflow-x: visible; }
  .nav-open .sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .nav-open .sidebar:before {
      top: 0;
      z-index: 800;
      width: 500px;
      height: 100%;
      content: '';
      background: #fff;
      position: absolute;
      margin-left: -500px; }
  @media (min-width: 1024px) {
    .nav-open {
      overflow: inherit; }
      .nav-open .layout {
        overflow: inherit; }
      .nav-open .sidebar:before {
        display: none; } }

.sidebar {
  top: 0;
  left: 0;
  width: 270px;
  z-index: 1000;
  height: 100vh;
  min-width: 270px;
  background: #fff;
  position: absolute;
  border-right: 1px solid #ededed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .sidebar__heading {
    padding: 30px;
    width: 100%;
    height: 220px;
    display: none; }
  .sidebar__logo {
    width: 135px;
    height: 160px;
    display: block; }
  .sidebar__main {
    height: 100%;
    padding-top: 59px;
    position: relative;
    border-top: 1px solid #ededed;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .sidebar__scroll {
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid #ededed; }
  .sidebar__close {
    right: 15px;
    top: 10px;
    width: 35px;
    height: 35px;
    z-index: 200;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    opacity: 0.6; }
    .sidebar__close:after, .sidebar__close:before {
      top: 50%;
      width: 2px;
      right: 10px;
      height: 25px;
      content: ' ';
      margin-top: -12px;
      position: absolute;
      background-color: #000; }
    .sidebar__close:before {
      transform: rotate(45deg); }
    .sidebar__close:after {
      transform: rotate(-45deg); }
  @media (min-width: 768px) {
    .sidebar {
      -webkit-transition: 0s;
      -o-transition: 0s;
      transition: 0s; } }
  @media (min-width: 1024px) {
    .sidebar {
      top: auto;
      left: auto;
      position: relative;
      height: auto;
      -webkit-transform: translateX(0);
      transform: translateX(0); }
      .sidebar__heading {
        display: block; }
      .sidebar__main {
        padding-top: 0;
        height: auto; }
      .sidebar__scroll {
        height: auto;
        overflow-y: inherit; }
      .sidebar__close {
        display: none; }
      .sidebar__scroll {
        border-top: none; } }

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .main__header {
    padding: 1rem 0 1rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .main__header_toggle {
      margin-top: 3px;
      width: 24px;
      height: 20px;
      font-size: 0;
      line-height: 0;
      display: block;
      opacity: 0.6;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .main__header_toggle:hover {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .main__header_toggle span {
        height: 4px;
        margin-bottom: 4px;
        display: block;
        background: #000; }
        .main__header_toggle span:nth-child(1) {
          width: 12px; }
        .main__header_toggle span:nth-child(3) {
          width: 18px;
          margin-bottom: 0; }
    .main__header_address {
      color: #666;
      padding: 0.125rem 0;
      display: none; }
      .main__header_address strong {
        color: #000; }
    .main__header_email {
      padding: 0.125rem 0;
      display: none;
      text-decoration: underline; }
      .main__header_email:hover {
        text-decoration: none; }
    .main__header_phone {
      color: #000;
      font-weight: 700;
      padding: 0.125rem 0;
      display: inline-block;
      text-decoration: none; }
  .main__content {
    padding-top: 1.75rem;
    padding-bottom: 2rem;
    border-top: 1px solid #ededed; }
  @media (min-width: 568px) {
    .main__header_email {
      display: inline-block; } }
  @media (min-width: 768px) {
    .main {
      width: 450px; } }
  @media (min-width: 1024px) {
    .main {
      width: 690px; }
      .main__header {
        padding-left: 1.875rem; }
        .main__header_address {
          display: inline-block; }
        .main__header_toggle {
          display: none; }
      .main__homepage {
        padding-left: 1.875rem; }
      .main__content {
        padding-left: 1.875rem; } }
  @media (min-width: 1230px) {
    .main {
      width: 900px; }
      .main__header {
        padding: 2rem 0 2rem 1.875rem; } }

.nav__box {
  border-bottom: 1px solid #ededed;
  padding: 1.5rem 1.25rem 1.5rem 1.875rem; }
  .nav__box:last-child {
    border-bottom: none; }
  .nav__box_title {
    color: #555;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.7px;
    font-family: "RotondaC", Arial, sans-serif;
    text-transform: uppercase; }
    .nav__box_title a {
      color: #516f90;
      text-decoration: underline; }
      .nav__box_title a:hover {
        text-decoration: none; }
  .nav__box ul {
    color: #ccc;
    padding: 0.625rem 0 0 0;
    list-style: none;
    margin: 0;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.375rem; }
    .nav__box ul li {
      position: relative;
      padding-left: 1.25rem; }
      .nav__box ul li:before {
        left: 0;
        top: 11px;
        width: 10px;
        height: 1px;
        content: '';
        background: #ccc;
        position: absolute; }
      .nav__box ul li a {
        color: #516f90;
        text-decoration: none; }
        .nav__box ul li a:hover {
          text-decoration: underline; }
      .nav__box ul li.active a {
        color: #000;
        font-weight: 700; }

.promo {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .promo__item {
    position: relative; }
  .promo__text {
    color: #fff;
    background: #42b2c9;
    padding: 2.5rem 2.5rem 5.25rem 2.5rem;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
    .promo__text .h3 {
      color: #fff;
      margin-bottom: 0.625rem;
      text-transform: uppercase; }
    .promo__text p {
      max-width: 320px;
      margin-bottom: 0; }
  .promo .slider-nav {
    left: 40px;
    bottom: 30px;
    position: absolute; }
    .promo .slider-nav .slider-arrow {
      border-color: #fff; }
      .promo .slider-nav .slider-arrow svg {
        fill: #fff; }
    .promo .slider-nav .swiper-pagination-bullet {
      border-color: #fff; }
    .promo .slider-nav .swiper-pagination-bullet-active {
      background: #fff; }
  @media (min-width: 768px) {
    .promo__item {
      background: transparent; }
      .promo__item p {
        height: 4.125rem;
        overflow: hidden; }
    .promo__text {
      left: 0;
      bottom: 0;
      width: 440px;
      position: absolute;
      -webkit-border-radius: 0 5px 0 5px;
      -moz-border-radius: 0 5px 0 5px;
      -ms-border-radius: 0 5px 0 5px;
      border-radius: 0 5px 0 5px; } }

.preview {
  margin-bottom: 2.375rem; }
  .preview__link {
    text-align: right; }
    .preview__link a {
      font-weight: 700;
      color: #516f90;
      font-size: 0.75rem;
      line-height: 1.25rem;
      text-decoration: none;
      display: inline-block;
      padding-right: 1.625rem;
      text-transform: uppercase;
      background: url("../img/icon__arrow.png") 100% 50% no-repeat; }
      .preview__link a span {
        border-bottom: 1px solid #516f90; }
      .preview__link a:hover span {
        border-bottom-color: transparent; }

.colorNews__item {
  color: #fff;
  padding: 25px 30px;
  display: block;
  background: #42b2c9;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  text-decoration: none;
  margin-bottom: 1.875rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .colorNews__item.color-red {
    background: #ff6050; }
  .colorNews__item.color-yellow {
    background: #ffc950; }
  .colorNews__item.color-blue {
    background: #42b2c9; }
.colorNews__date {
  color: #fff;
  opacity: 0.5;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem; }
.colorNews h4 {
  color: #fff;
  margin-bottom: 1rem;
  text-decoration: underline; }
.colorNews p {
  margin-bottom: 0; }
@media (min-width: 768px) {
  .colorNews {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .colorNews__item {
      margin-bottom: 1.25rem;
      width: calc(33.33% - 15px);
      width: -moz-calc(33.33% - 15px);
      width: -webkit-calc(33.33% - 15px); } }

.about {
  font-size: 0.9375rem;
  line-height: 1.375rem; }
  .about h1,
  .about .h1 {
    margin-bottom: 1rem; }

.gallery {
  z-index: 20;
  position: relative; }
  .gallery h3,
  .gallery .h3 {
    margin-bottom: 1.375rem; }
  .gallery .swiper-slide a {
    display: block;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .gallery__nav {
    margin-top: 18px;
    text-align: center; }

.news__item {
  padding: 25px 30px;
  background: #fff;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .news__item h4 {
    margin-bottom: 1rem; }
.news__date {
  color: #000;
  opacity: 0.5;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem; }
.news__text {
  color: #999;
  font-size: 0.8125rem;
  line-height: 1.25rem; }
@media (min-width: 568px) {
  .news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .news__item {
      width: calc(50% - 15px);
      width: -moz-calc(50 - 15px);
      width: -webkit-calc(50% - 15px); } }
@media (min-width: 768px) {
  .news__item {
    width: calc(33.33% - 15px);
    width: -moz-calc(33.33% - 15px);
    width: -webkit-calc(33.33% - 15px); } }

.slider-nav {
  z-index: 200;
  height: 30px;
  font-size: 0;
  line-height: 0;
  padding: 10px 40px;
  position: relative;
  display: inline-block; }
  .slider-nav .slider-arrow {
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    border: 2px solid #516f90;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .slider-nav .slider-arrow svg {
      top: 50%;
      left: 50%;
      fill: #516f90;
      position: absolute;
      margin: -4px 0 0 -2px; }
    .slider-nav .slider-arrow.prev {
      left: 0;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .slider-nav .slider-arrow.next {
      right: 0; }
  .slider-nav .slider-pagination {
    display: inline-block; }
  .slider-nav .swiper-pagination-bullet {
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    display: inline-block;
    border: 2px solid #516f90;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .slider-nav .swiper-pagination-bullet-active {
    background: #516f90; }

.teacher {
  margin-bottom: 40px; }
  .teacher:before, .teacher:after {
    content: " ";
    display: table; }
  .teacher:after {
    clear: both; }
  .teacher__image {
    width: 270px;
    min-width: 270px;
    margin-bottom: 1.25rem; }
  .teacher__name {
    color: #333;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-family: "RotondaC", Arial, sans-serif; }
  .teacher__text {
    color: #666;
    font-size: 0.9375rem;
    line-height: 1.375rem; }
  .teacher__link {
    text-decoration: none;
    border-bottom: 1px dashed #516f90; }
    .teacher__link:hover {
      border-bottom-color: transparent; }
  @media (min-width: 768px) {
    .teacher {
      margin-bottom: 30px; }
      .teacher__image {
        float: left;
        margin: 0 30px 15px 0; } }
  @media (min-width: 1230px) {
    .teacher__image {
      margin: 0 65px 15px 0; } }

.contact__box {
  color: #666;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-bottom: 2.25rem; }
  .contact__box_title {
    color: #000;
    font-weight: 700;
    margin-bottom: 1rem; }
.contact p {
  margin-bottom: 0; }
.contact a.tel {
  color: #666;
  text-decoration: none; }
.contact__map {
  height: 400px; }
  .contact__map #map {
    height: 100%; }
@media (min-width: 768px) {
  .contact {
    margin-top: -1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .contact__info {
      width: 300px;
      padding-top: 30px;
      padding-right: 30px; }
    .contact__map {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; } }

.img-right {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .img-right {
      float: right;
      width: 300px;
      height: auto;
      margin: 0 0 15px 30px; } }
  @media (min-width: 1230px) {
    .img-right {
      width: 370px; } }

.img-left {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .img-left {
      float: left;
      width: 300px;
      height: auto;
      margin: 0 15px 30px 0; } }
  @media (min-width: 1230px) {
    .img-left {
      width: 370px; } }

.text-box:before, .text-box:after {
  content: " ";
  display: table; }
.text-box:after {
  clear: both; }

.list-line {
  padding: 0;
  margin: 0 0 2.25rem 0;
  list-style: none; }
  .list-line li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1.25rem; }
    .list-line li:before {
      left: 0;
      top: 10px;
      width: 15px;
      height: 1px;
      content: '';
      background: #666;
      position: absolute; }

.list-circle {
  padding: 0;
  margin: 0 0 2.25rem 0;
  list-style: none; }
  .list-circle li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1.25rem; }
    .list-circle li:before {
      left: 0;
      top: 8px;
      width: 6px;
      height: 6px;
      content: '';
      background: #000;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }

.imgBlock {
  margin-bottom: 40px; }
  .imgBlock__item {
    display: block;
    margin-bottom: 30px; }
  @media (min-width: 768px) {
    .imgBlock {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .imgBlock__item {
        margin-bottom: 0;
        width: calc(33.33% - 15px);
        width: -moz-calc(33.33% - 15px);
        width: -webkit-calc(33.33% - 15px); } }

.docs {
  margin: 0;
  padding: 0;
  list-style: none; }
  .docs > li {
    margin-bottom: 0.5rem; }
    .docs > li.open .docs__list {
      display: block; }
    .docs > li.open .docs__title {
      border-bottom-color: transparent; }
  .docs__title {
    color: #516f90;
    font-weight: 700;
    line-height: 1.25rem;
    display: inline-block;
    letter-spacing: 0.7px;
    font-size: 0.875rem;
    font-family: "RotondaC", Arial, sans-serif;
    text-decoration: none;
    margin-bottom: 0.375rem;
    text-transform: uppercase;
    border-bottom: 1px dashed #516f90; }
    .docs__title:hover {
      border-bottom-color: transparent; }
  .docs__list {
    margin: 0;
    padding: 0;
    display: none;
    list-style: none; }
  .docs__item {
    color: #516f90;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .docs__item:hover .docs__text span {
      text-decoration: none; }
  .docs__icon {
    width: 51px;
    height: 57px;
    display: inline-block; }
  .docs__text {
    margin: auto 0;
    padding-left: 0.25rem;
    display: inline-block; }
    .docs__text span {
      text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
