
body {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 400;
		visibility: hidden;
		background-color: rgba(0, 0, 0, 0.75);
		-webkit-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}

.layout {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.page {

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include flex-grow(1);
		@include flex-direction(row);
	}
}

.nav-open {
	overflow: hidden;
	position: relative;

	&:before {
		opacity: 1;
		visibility: visible;
	}

	.layout {
		overflow-x: visible;
	}

	.sidebar {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		@include transition(.3s);

		&:before {
			top: 0;
			z-index: 800;
			width: 500px;
			height: 100%;
			content: '';
			background: #fff;
			position: absolute;
			margin-left: -500px;
		}
	}

	@media (min-width: $screen-lg-min) {
		overflow: inherit;

		.layout {
			overflow: inherit;
		}

		.sidebar {

			&:before {
				display: none;
			}
		}
	}
}

.sidebar {
	top: 0;
	left: 0;
	width: 270px;
	z-index: 1000;
	height: 100vh;
	min-width: 270px;
	background: #fff;
	position: absolute;
	border-right: 1px solid #ededed;
	@include flexbox();
	@include flex-direction(column);

	-webkit-transform: translateX(-270px);
	transform: translateX(-270px);
	@include transition(.3s);

	&__heading {
		padding: 30px;
		width: 100%;
		height: 220px;
		display: none;
	}

	&__logo {
		width: 135px;
		height: 160px;
		display: block;
	}

	&__main {
		height: 100%;
		padding-top: 59px;
		position: relative;
		border-top: 1px solid #ededed;
		@include flex-grow(1);
	}

	&__scroll {
		height: 100%;
		overflow-y: auto;
		border-top: 1px solid #ededed;
	}

	&__close {
		right: 15px;
		top: 10px;
		width: 35px;
		height: 35px;
		z-index: 200;
		cursor: pointer;
		display: inline-block;
		position: absolute;
		opacity: 0.6;

		&:after,
		&:before {
			top: 50%;
			width: 2px;
			right: 10px;
			height: 25px;
			content: ' ';
			margin-top: -12px;
			position: absolute;
			background-color: #000;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	@media (min-width: $screen-md-min) {
		@include transition(0s);
	}

	@media (min-width: $screen-lg-min) {
		top: auto;
		left: auto;
		position: relative;
		height: auto;
		-webkit-transform: translateX(0);
		transform: translateX(0);

		&__heading {
			display: block;
		}

		&__main {
			padding-top: 0;
			height: auto;
		}

		&__scroll {
			height: auto;
			overflow-y: inherit;
		}

		&__close {
			display: none;
		}

		&__scroll {
			border-top: none;
		}
	}
}

.main {
	@include flex-grow(1);

	&__header {
		padding: 1rem 0 1rem 0;
		@include flexbox();
		@include justify-content(space-between);

		&_toggle {
			margin-top: 3px;
			width: 24px;
			height:20px;
			font-size: 0;
			line-height: 0;
			display: block;
			opacity: 0.6;
			@include transition(.3s);

			&:hover {
				opacity: 1;
				@include transition(.3s);
			}

			span {
				height: 4px;
				margin-bottom: 4px;
				display: block;
				background: #000;

				&:nth-child(1) {
					width: 12px;
				}

				&:nth-child(3) {
					width: 18px;
					margin-bottom: 0;
				}
			}
		}

		&_address {
			color: #666;
			padding: 0.125rem 0;
			display: none;

			strong {
				color: #000;
			}
		}

		&_email {
			padding: 0.125rem 0;
			display: none;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&_phone {
			color: #000;
			font-weight: 700;
			padding: 0.125rem 0;
			display: inline-block;
			text-decoration: none;
		}
	}

	&__content {
		padding-top: 1.75rem;
		padding-bottom: 2rem;
		border-top: 1px solid #ededed;
	}

	@media (min-width: $screen-sm-min) {

		&__header {

			&_email {
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 450px;
	}

	@media (min-width: $screen-lg-min) {
		width: 690px;

		&__header {
			padding-left: 1.875rem;

			&_address {
				display: inline-block;
			}

			&_toggle {
				display: none;
			}
		}

		&__homepage {
			padding-left: 1.875rem;
		}

		&__content {
			padding-left: 1.875rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		width: 900px;

		&__header {
			padding: 2rem 0 2rem 1.875rem;

		}
	}
}

.nav {

	&__box {
		border-bottom: 1px solid #ededed;
		padding: 1.5rem 1.25rem 1.5rem 1.875rem;

		&:last-child {
			border-bottom: none;
		}

		&_title {
			color: #555;
			font-weight: 700;
			font-size: 0.875rem;
			line-height: 1.25rem;
			letter-spacing: 0.7px;
			font-family: $font-head;
			text-transform: uppercase;

			a {
				color: $color-blue;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		ul {
			color: #ccc;
			padding: 0.625rem 0 0 0;
			list-style: none;
			margin: 0;
			font-weight: 400;
			font-size: 0.9375rem;
			line-height: 1.375rem;


			li {
				position: relative;
				padding-left: 1.25rem;

				&:before {
					left: 0;
					top: 11px;
					width: 10px;
					height: 1px;
					content: '';
					background: #ccc;
					position: absolute;
				}

				a {
					color: $color-blue;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				&.active {

					a {
						color: #000;
						font-weight: 700;
					}
				}
			}
		}
	}
}

.promo {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	@include border-radius(5px);

	&__item {
		position: relative;
	}

	&__text {
		color: #fff;
		background: #42b2c9;
		padding: 2.5rem 2.5rem 5.25rem 2.5rem;
		font-size: 	0.9375rem;
		line-height: 1.375rem;
		@include border-radius(0 0 5px 5px);

		.h3 {
			color: #fff;
			margin-bottom: 0.625rem;
			text-transform: uppercase;
		}

		p {
			max-width: 320px;
			margin-bottom: 0;
		}
	}

	.slider-nav {
		left: 40px;
		bottom: 30px;
		position: absolute;

		.slider-arrow {
			border-color: #fff;

			svg {
				fill: #fff;
			}
		}

		.swiper-pagination-bullet {
			border-color: #fff;
		}

		.swiper-pagination-bullet-active {
			background: #fff;
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			background: transparent;

			p {
				height: 4.125rem;
				overflow: hidden;
			}
		}

		&__text {
			left: 0;
			bottom: 0;
			width: 440px;
			position: absolute;
			@include border-radius(0 5px 0 5px);

		}
	}

}

.preview {
	margin-bottom: 2.375rem;

	&__link {
		text-align: right;

		a {
			font-weight: 700;
			color: $color-blue;
			font-size: 0.75rem;
			line-height: 1.25rem;
			text-decoration: none;
			display: inline-block;
			padding-right: 	1.625rem;
			text-transform: uppercase;
			background: url("../img/icon__arrow.png") 100% 50% no-repeat;

			span {
				border-bottom: 1px solid $color-blue;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}
		}
	}
}

.colorNews {

	&__item {
		color: #fff;
		padding: 25px 30px;
		display: block;
		background: #42b2c9;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		text-decoration: none;
		margin-bottom: 1.875rem;
		@include border-radius(5px);
		@include box-shadow(0 0 30px rgba(0, 0, 0, 0.2));

		&.color-red {
			background: #ff6050;
		}

		&.color-yellow {
			background: #ffc950;
		}

		&.color-blue {
			background: #42b2c9;
		}
	}

	&__date {
		color: #fff;
		opacity: 0.5;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		margin-bottom: 0.25rem;
	}

	h4 {
		color: #fff;
		margin-bottom: 1rem;
		text-decoration: underline;
	}

	p {
		margin-bottom: 0;
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__item {
			margin-bottom: 1.25rem;
			width: calc(33.33% - 15px);
			width: -moz-calc(33.33% - 15px);
			width: -webkit-calc(33.33% - 15px);
		}
	}
}

.about {
	font-size: 0.9375rem;
	line-height: 1.375rem;

	h1,
	.h1 {
		margin-bottom: 1rem;
	}
}


.gallery {
	z-index: 20;
	position: relative;

	h3,
	.h3 {
		margin-bottom: 1.375rem;
	}

	.swiper-slide {

		a {

			display: block;
			overflow: hidden;
			@include border-radius(5px);
		}
	}

	&__nav {
		margin-top: 18px;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
	}
}

.news {

	&__item {
		padding: 25px 30px;
		background: #fff;
		margin-bottom: 30px;
		@include border-radius(5px);
		@include box-shadow(0 0 30px rgba(0, 0, 0, 0.2));

		h4 {
			margin-bottom: 1rem;

			a {

			}
		}
	}

	&__date {
		color: #000;
		opacity: 0.5;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		margin-bottom: 0.25rem;
	}

	&__text {
		color: #999;
		font-size: 0.8125rem;
		line-height: 1.25rem;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&__item {
			width: calc(50% - 15px);
			width: -moz-calc(50 - 15px);
			width: -webkit-calc(50% - 15px);
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			width: calc(33.33% - 15px);
			width: -moz-calc(33.33% - 15px);
			width: -webkit-calc(33.33% - 15px);
		}
	}
}

.slider-nav {
	z-index: 200;
	height: 30px;
	font-size: 0;
	line-height: 0;
	padding: 10px 40px;
	position: relative;
	display: inline-block;

	.slider-arrow {
		top: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		border: 2px solid #516f90;
		display: inline-block;
		@include border-radius(50%);

		svg {
			top: 50%;
			left: 50%;
			fill: #516f90;
			position: absolute;
			margin: -4px 0 0 -2px;
		}

		&.prev {
			left: 0;
			@include rotate(180deg);
		}

		&.next {
			right: 0;

			svg {

			}
		}
	}

	.slider-pagination {
		display: inline-block;
	}

	.swiper-pagination-bullet {
		opacity: 1;
		width: 10px;
		height: 10px;
		margin: 0 4px;
		display: inline-block;
		border: 2px solid #516f90;
		background: transparent;
		@include border-radius(50%);
	}

	.swiper-pagination-bullet-active {
		background: #516f90;
	}
}


.teacher {
	margin-bottom: 40px;
	@include clearfix();

	&__image {
		width: 270px;
		min-width: 270px;
		margin-bottom: 1.25rem;
	}

	&__name {
		color: #333;
		font-weight: 700;
		font-size: 	1.25rem;
		margin-bottom: 1rem;
		font-family: $font-head;
	}

	&__text {
		color: #666;
		font-size: 0.9375rem;
		line-height: 1.375rem;
	}

	&__link {
		text-decoration: none;
		border-bottom: 1px dashed $color-blue;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;

		&__image {
			float: left;
			margin: 0 30px 15px 0;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__image {
			margin: 0 65px 15px 0;
		}
	}
}

.contact {

	&__info {

	}

	&__box {
		color: #666;
		font-size: 0.9375rem;
		line-height: 1.25rem;
		margin-bottom: 2.25rem;

		&_title {
			color: #000;
			font-weight: 700;
			margin-bottom: 1rem;
		}
	}

	p {
		margin-bottom: 0;
	}

	a.tel {
		color: #666;
		text-decoration: none;
	}

	&__map {
		height: 400px;

		#map {
			height: 100%;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-top: -1rem;
		@include flexbox();
		@include justify-content(space-between);

		&__info {
			width: 300px;
			padding-top: 30px;
			padding-right: 30px;
		}

		&__map {
			@include flex-grow(1);
		}
	}
}

.img-right {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;

	@media (min-width: $screen-md-min) {
		float: right;
		width: 300px;
		height: auto;
		margin: 0 0 15px 30px;
	}

	@media (min-width: $screen-xl-min) {
		width: 370px;
	}
}

.img-left {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;

	@media (min-width: $screen-md-min) {
		float: left;
		width: 300px;
		height: auto;
		margin: 0 15px 30px 0;
	}

	@media (min-width: $screen-xl-min) {
		width: 370px;
	}
}

.text-box {
	@include clearfix();
}

.list-line {
	padding: 0;
	margin: 0 0 2.25rem 0;
	list-style: none;

	li {
		position: relative;
		padding-left: 2rem;
		margin-bottom: 1.25rem;

		&:before {
			left: 0;
			top: 10px;
			width: 15px;
			height: 1px;
			content: '';
			background: #666;
			position: absolute;
		}
	}
}

.list-circle {
	padding: 0;
	margin: 0 0 2.25rem 0;
	list-style: none;

	li {
		position: relative;
		padding-left: 2rem;
		margin-bottom: 1.25rem;

		&:before {
			left: 0;
			top: 8px;
			width: 6px;
			height: 6px;
			content: '';
			background: #000;
			position: absolute;
			@include border-radius(50%);
		}
	}
}

.imgBlock {
	margin-bottom: 40px;

	&__item {
		display: block;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__item {
			margin-bottom: 0;
			width: calc(33.33% - 15px);
			width: -moz-calc(33.33% - 15px);
			width: -webkit-calc(33.33% - 15px);
		}
	}

}

.docs {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		margin-bottom: 0.5rem;

		&.open {

			.docs__list {
				display: block;
			}

			.docs__title {
				border-bottom-color: transparent;
			}
		}
	}

	&__title {
		color: #516f90;
		font-weight: 700;
		line-height: 1.25rem;
		display: inline-block;
		letter-spacing: 0.7px;
		font-size: 	0.875rem;
		font-family: $font-head;
		text-decoration: none;
		margin-bottom: 0.375rem;
		text-transform: uppercase;
		border-bottom: 1px dashed #516f90;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;

		li {

		}
	}

	&__item {
		color: #516f90;
		text-decoration: none;
		@include flexbox();

		&:hover {

			.docs__text {

				span {
					text-decoration: none;
				}
			}
		}
	}

	&__icon {
		width: 51px;
		height: 57px;
		display: inline-block;
	}

	&__text {
		margin: auto 0;
		padding-left: 0.25rem;
		display: inline-block;

		span {
			text-decoration: underline;
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}