@font-face {
	font-family: 'RotondaC';
	src: url('../fonts/Rotonda/RotondaC.eot');
	src: local('RotondaC'),
	url('../fonts/Rotonda/RotondaC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Rotonda/RotondaC.woff') format('woff'),
	url('../fonts/Rotonda/RotondaC.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RotondaC';
	src: url('../fonts/Rotonda/RotondaC-Bold.eot');
	src: local('RotondaC Bold'), local('RotondaC-Bold'),
	url('../fonts/Rotonda/RotondaC-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Rotonda/RotondaC-Bold.woff') format('woff'),
	url('../fonts/Rotonda/RotondaC-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
