.footer {
	padding: 1.375rem 0;
	text-align: center;
	font-size: 0.8125rem;
	line-height: 1.5em;
	border-top: 1px solid #ededed;

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-direction(column);

		> li {

		}
	}

	&__name {
		color: #999;
		padding: 0.125rem 0;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #1e1e1e;
			text-decoration: none;
		}
	}

	&__address {
		color: #666;
		padding: 0.125rem 0;
		display: inline-block;

		strong {
			color: #000;
		}
	}

	&__email {
		padding: 0.125rem 0;
		display: inline-block;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__tel {
		color: #000;
		font-weight: 700;
		padding: 0.125rem 0;
		display: inline-block;
		text-decoration: none;
	}

	&__dev {
		color: #999;
		padding-right: 2rem;
		line-height: 1.5rem;
		text-decoration: none;
		display: inline-block;
		background: url("../img/dev_logo.png") 100% 50% no-repeat;

		&:hover {
			color: #1e1e1e;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			> li {


				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					width: 100%;
				}
			}
		}

	}

	@media (min-width: $screen-md-min) {

		&__row {

			> li {

				&:nth-child(1) {
					width: auto;
					display: none;
				}

				&:nth-child(2) {
					width: auto;
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {

			> li {

				&:nth-child(3) {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {

			> li {

				&:nth-child(1) {
					display: block;
				}
			}
		}
	}
}