$body-bg:                       #fff;
$color-blue:                    #516f90;

// Fonts

$font-size-base:                0.875rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.4285 !default;


$font-base:                     'Roboto', Arial, sans-serif !default;
$font-head:                     'RotondaC', Arial, sans-serif !default;

$spacer:                        1rem !default;

$color-base:                    #666;
$color-link:                    $color-blue !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  540px !default;
$container-md:                  750px !default;
$container-lg:                  990px !default;
$container-xl:                  1200px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 568px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 1024px !default;
$screen-xl-min:                 1230px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;
