
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 0.625rem 0;

	> li {
		color: #aaa;
		font-size: 0.75rem;
		line-height: 1.25rem;
		display: inline-block;

		&:after {
			color: #516f90;
			content: '>>>';
			padding: 0 0.375rem;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #516f90;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
	}
}