.table-responsive {
    margin-bottom: 2rem;
    @include box-shadow(0 0 30px rgba(0, 0, 0, 0.2));

    .table {
        margin-bottom: 0;
        @include box-shadow(none);
    }

    @media (max-width: $screen-sm-max) {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 25px;
        border: 1px solid #ddd;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .table {
            margin-bottom: 0;
        }
    }
}


.table {
    width: 100%;
    background: #fff;
    margin-bottom: 2rem;
    border-collapse: collapse;
    @include box-shadow(0 0 30px rgba(0, 0, 0, 0.2));

    tr {
        &:nth-child(even) {
            background: #f8f8f8;
        }
    }

    td,
    th {
        font-weight: 400;
        padding: 1rem 1.25rem;
    }

    th {
        color: #999;
        text-align: center;
    }

    td {
        color: #333;
    }
}
